[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "slime"]
	path = slime
	url = git://github.com/nablaone/slime.git
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
